__pycache__
.DS_Store
fer2013/
fer2013_2/
processed/
FEC_dataset/
fer2013_copy/
fer2013_faces/
fer2013_copy/train/Angry/0.jpg
fer2013_resized/
models/mobilenetv2_32epochs_F_nll_loss.h5
models/resnet50_32epochs_3_classes.h5
sample.jpg
Testing/*.jpg
Testing/
models/
/*.png